generated-by = makedeb
pkgname = yanic
pkgbase = yanic
pkgdesc = A respondd client that fetches, stores and publishes information about a Freifunk network
pkgrel = 2
pkgver = 1.9.1+batmanv2
url = https://github.com/freifunkMUC/yanic
arch = amd64
arch = arm64
backup = /etc/yanic.conf
license = AGPL-3.0
makedepends = golang
source = yanic-1.9.1+batmanv2::https://github.com/freifunkMUC/yanic/archive/refs/tags/v1.9.1+batmanv2.tar.gz
sha256sums = f84b29b67b29ecb145b1e07c69a7d46a711b6e77e19b5605d5f6ef108cc8a040
makedepends = golang
